<div class="col-sm-6 col-md-4" *ngFor="let p of listOfPersons">
    <div class="card blue-grey darken-1">
        <div class="card-content white-text">
            <span class="card-title"><strong>{{ p.nickName }} </strong> {{ p.firstName  }}</span>
            <hr style="margin:5px; border-color:#78909c;">
            <p>Phone number : {{ p.contact.tel[0] }} </p>
            <p><span [hidden]="!p.team[0]">Team: {{p.team}}</span > &nbsp;</p>
            <p><span  [hidden]="!p.office">Office: {{ p.office }}</span >&nbsp;</p>
        </div>
        <div class="card-action right">
            <!--<a type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-trash" aria-hidden="true" (click)="onDelete(p.personId)"></span></a>-->
                <a type="button" routerLink="/view/{{p.personId}}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open" ></span></a>
                <a type="button" routerLink="/edit/{{p.personId}}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span></a>
        </div>
    </div>
</div>