<div class="container" style="padding-top: 10%">
    <app-contact-search (oPersons)="onHomeSearch($event)"></app-contact-search>
    <app-contact-list [listOfPersons]="persons"></app-contact-list>
</div>