<br>
<div class="container container-table">
    <div class="row vertical-center-row">
        <div class="col-md-7 col-md-offset-2">
            <div class="col-xs-12">
                <div class="alert alert-warning" [hidden]="message.error == null">
                    <ul *ngFor="let messageLine of message.message">
                        <strong>Warning!</strong> {{messageLine}}
                    </ul>
                </div>
            </div>


            <form class="form-horizontal" name="myform">
                <div class="form-group">
                    <label class="control-label col-sm-2">Firstname:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" [(ngModel)]="person.firstName" [ngModelOptions]="{standalone: true}" [disabled]="isView" ng-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">LastName:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" [(ngModel)]="person.lastName" [ngModelOptions]="{standalone: true}" [disabled]="isView" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">NickName:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" [(ngModel)]="person.nickName" [ngModelOptions]="{standalone: true}" [disabled]="isView" required>
                    </div>
                </div>
                <div class="form-group" *ngFor="let phoneNumber of contact.tel; let i = index ; trackBy:trackByIndex;">
                    <div class="control-label col-sm-2">
                        <label [hidden]="i!=0">PhoneNumber:</label>
                    </div>

                    <div class="col-sm-8 ">
                        <input type="text" class="form-control" [(ngModel)]="contact.tel[i]" [ngModelOptions]="{standalone: true}" [disabled]="isView" required>
                    </div>
                    <div class="col-sm-2" [hidden]="isView">
                        <button class="btn btn-default btn-xs" (click)="onDeleteInput('P',i)" [disabled]="isDelete('P',i+1)" [hidden]="isView"><i class="glyphicon glyphicon-minus"></i> </button>
                        <button class="btn btn-default btn-xs" (click)="onAddInput('P')" [hidden]="isHiddenAdd('P',i+1)"><i class="glyphicon glyphicon-plus"></i> </button>
                    </div>
                </div>



                <div class="form-group" *ngFor="let email of contact.email; let i = index; trackBy:trackByIndex; ">
                    <div class="control-label col-sm-2">
                        <label [hidden]="i!=0">Email:</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" [(ngModel)]="contact.email[i]" [ngModelOptions]="{standalone: true}" [disabled]="isView">
                    </div>
                    <div class="col-sm-2" [hidden]="isView">
                        <button class="btn btn-default btn-xs" (click)="onDeleteInput('E',i)" [disabled]="isDelete('E',i+1)"><i class="glyphicon glyphicon-minus"></i> </button>
                        <button class="btn btn-default btn-xs" (click)="onAddInput('E')" [hidden]="isHiddenAdd('E',i+1)"><i class="glyphicon glyphicon-plus"></i> </button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Office:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" [(ngModel)]="person.office" [ngModelOptions]="{standalone: true}" [disabled]="isView">
                    </div>
                </div>


                <div class="form-group" *ngFor="let team of person.team; let i = index; let i = index; trackBy:trackByIndex;">
                    <div class="control-label col-sm-2">
                        <label [hidden]="i!=0">Team:</label>
                    </div>

                    <div class="col-sm-8">
                        <input type="text" [(ngModel)]="person.team[i]" [ngModelOptions]="{standalone: true}" class="form-control" [disabled]="isView">
                    </div>
                    <div class="col-sm-2" [hidden]="isView">
                        <button class="btn btn-default btn-xs" (click)="onDeleteInput('T',i)" [disabled]="isDelete('T',i+1)"><i class="glyphicon glyphicon-minus"></i> </button>
                        <button class="btn btn-default btn-xs" (click)="onAddInput('T')" [hidden]="isHiddenAdd('T',i+1)"><i class="glyphicon glyphicon-plus"></i> </button>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10" [hidden]="isView">
                        <button type="submit" class="btn btn-default" (click)="onSave()">Submit</button>
                        <button routerLink="/" class="btn btn-default">Cancel</button>
                    </div>
                    <div class="col-sm-offset-2 col-sm-10" [hidden]="!isView">
                        <a type="button" routerLink="/edit/{{person.personId}}" class="btn btn-default" [hidden]="isView">edit</a>
                        <button routerLink="/" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </form>


        </div>

    </div>
</div>

<div class="container ">


    <!--<form class="form-horizontal" name="myform">
        <div class="form-group">
            <label class="control-label col-sm-2">Firstname:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" [(ngModel)]="person.firstName" [ngModelOptions]="{standalone: true}" ng-required="true">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">LastName:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" [(ngModel)]="person.lastName" [ngModelOptions]="{standalone: true}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">NickName:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" [(ngModel)]="person.nickName" [ngModelOptions]="{standalone: true}" required>
            </div>
        </div>
        <div class="form-group" *ngFor="let phoneNumber of contact.tel; let i = index ; trackBy:trackByIndex;">
            <div class="control-label col-sm-2">
                <label [hidden]="i!=0">PhoneNumber:</label>
            </div>

            <div class="col-sm-4">
                <input type="text" class="form-control" [(ngModel)]="contact.tel[i]" [ngModelOptions]="{standalone: true}" required>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-default btn-sm" (click)="onDeleteInput('P',i)" [disabled]="isDelete('P',i+1)"><i class="glyphicon glyphicon-minus"></i> </button>
                <button class="btn btn-default btn-sm" (click)="onAddInput('P')" [hidden]="isHiddenAdd('P',i+1)"><i class="glyphicon glyphicon-plus"></i> </button>
            </div>
            <div class="col-sm-4"></div>
        </div>



        <div class="form-group" *ngFor="let email of contact.email; let i = index; trackBy:trackByIndex; ">
            <div class="control-label col-sm-2">
                <label [hidden]="i!=0">Email:</label>
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" [(ngModel)]="contact.email[i]" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="col-sm-2">
                <button class="btn btn-default btn-sm" (click)="onDeleteInput('E',i)" [disabled]="isDelete('E',i+1)"><i class="glyphicon glyphicon-minus"></i> </button>
                <button class="btn btn-default btn-sm" (click)="onAddInput('E')" [hidden]="isHiddenAdd('E',i+1)"><i class="glyphicon glyphicon-plus"></i> </button>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Office:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" [(ngModel)]="person.office" [ngModelOptions]="{standalone: true}">
            </div>
        </div>


        <div class="form-group" *ngFor="let team of person.team; let i = index; let i = index; trackBy:trackByIndex;">
            <div class="control-label col-sm-2">
                <label [hidden]="i!=0">Team:</label>
            </div>

            <div class="col-sm-4">
                <input type="text" [(ngModel)]="person.team[i]" [ngModelOptions]="{standalone: true}" class="form-control">
            </div>
            <div class="col-sm-2">
                <button class="btn btn-default btn-sm" (click)="onDeleteInput('T',i)" [disabled]="isDelete('T',i+1)"><i class="glyphicon glyphicon-minus"></i> </button>
                <button class="btn btn-default btn-sm" (click)="onAddInput('T')" [hidden]="isHiddenAdd('T',i+1)"><i class="glyphicon glyphicon-plus"></i> </button>
            </div>
            <div class="col-sm-4"></div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" (click)="onSave()">Submit</button>
                <button routerLink="/" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </form>-->
</div>