<!--<div class="container" style="padding-top: 10%">
    <app-contact-search (oPersons)="onAppSearch($event)"></app-contact-search>
    <app-contact-list [listOfPersons]="persons"></app-contact-list>
</div>-->
<router-outlet></router-outlet>
<!--<a type="button" routerLink="/add" class="btn btn-default btn-xs"><span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span></a>-->
<div class="btn-group-vertical" style="position: fixed; bottom: 0px; right: 0px;">
    <button routerLink="/" type="button" class="btn btn-default  btn-sm"><span class="glyphicon glyphicon-home"></span></button>
    <button routerLink="/add" type="button" class="btn btn-default  btn-sm"><span class="glyphicon glyphicon-plus"></span></button>
    <!--<button type="button" class="btn btn-primary">Sony</button>-->
</div>
<!--<app-contact-home></app-contact-home>-->

<!--<router-outlet></router-outlet>-->